* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    text-decoration: line-through;
  }
  
#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

