/* Animações
============================================================== */
@keyframes animacao-adicionar {
  from {
    margin-left: 5px;
    margin-bottom: 3px;
  }

  to {
    margin: 5px 5px 0 5px;
  }
}

/* Reset css
============================================================== */
* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  list-style: none;
  margin: 0;
  padding: 0; 
}

body {
  background: rgba(54, 125, 201, 0.986);
  background: linear-gradient(0deg, rgba(47,139,236,1) 40%, rgba(47,139,236,1) 89%) repeat-y;
  font-size: 16px;
  height: 100vh;
}

/* Container
============================================================== */
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(54, 125, 201, 0.986);
  background: linear-gradient(0deg, rgba(47,139,236,1) 40%, rgba(210,83,154,1) 89%) repeat-y;
}

#container section {
  background-color: rgba(255, 255, 255, 0.226);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 20px;
  margin-top: 100px;
  padding: 20px 5px 20px 5px;
  width: 50vw;
}

/* Cabeçalho
============================================================== */
header {
  background: linear-gradient(0deg, rgba(245, 245, 245, 0) 40%, rgba(238, 27, 210, 0.295) 89%);
  border-top-left-radius: 50px;
  margin-bottom: 10px;
}

/* Título
============================================================== */
h1 {
  color: #fff;
  font-size: 4rem;
  margin: 10px auto 15px auto;
  text-align: center;
}

/* Input
============================================================== */
input::placeholder {
  color: #ffff;
  font-size: 1rem;
}

input[type="checkbox"]::before {
  border: solid 2px;
  vertical-align: bottom;
}

/* When clicked on, add a background color and strike out text 
============================================================== */
ul {
  border-bottom-right-radius: 50px;
}

ul li {
  background-color: rgba(255, 255, 255, 0.178);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 5px;
  color: #fff;
  font-size: 2rem;
  margin: 5px 10px;
  transition: all 1s linear;
  animation-name: animacao-adicionar;
  animation-duration: 1s;
}

ul li.check:hover {
  background-color: rgba(124, 122, 122, 0.192);
}

ul li.checked {
  background-color: rgba(236, 0, 0, 0.466);
  color: rgb(138, 2, 2);
  text-decoration: line-through;
  }

ul li.checked:hover {
  background-color: rgba(236, 0, 0, 0.329);
}

.check {
  margin-bottom: 7px;
}

.checked {
  animation: animacao-adicionar 10s 0s 0 alternate;
}

/* UL id adicionarItem
============================================================== */
#adicionarItem li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 20px;
  padding: 0 0.5rem;
  transition: opacity 5s;
}

/* Input para inserir intens na lista
============================================================== */
#inputListaTarefa {
  background-color: rgba(47,139,236,1);
  border: 0;
  border-radius: 20px ;
  box-shadow: none;
  color: #fff;
  font-size: 1rem;
  margin-left: 5px;
  margin-bottom: 10px;
  padding-left: 15px;
  height: 2rem;
  width: 30vw;
  outline: none;
  transition: all 1s linear;
}

#inputListaTarefa:focus {
  background-color: rgba(210,83,154,1);
  box-shadow: 0 0 10px;
  font-size: 1.5rem;
}

/* Botão para inserir intens na lista
============================================================== */
#btn-add {
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 4px 12px 4px 12px;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#btn-add:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: #000;
  cursor: pointer;
}

/* Botão excluir itens da lista
============================================================== */
.btn-delete {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  cursor: pointer;
  margin-bottom: none;
  margin-left: 1px;
  padding-bottom: 0%;
}

.btn-delete:hover {
  background-color: rgba(194, 4, 4, 0.418);
}

/* Botão excluir Todos os itens da lista
============================================================== */
#btn-delete-all {
  border: 0;
  border-radius: 20px;
  box-shadow: 0 0 40px 40px #ff0000 inset, 0 0 0 0 #ff0202;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 2px 10px 2px 10px;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#btn-delete-all:hover {
  box-shadow: 0 0 10px 0 #ff00008a inset, 0 0 10px 4px #ff0000;
  color: rgba(255, 0, 0, 0.781);
  cursor: pointer;
}
